<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Brasil - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Brasil</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section class="group1">
			<article class="circuit">
				<div class="circuit-first">
					<div class="circuit-logo">
						<h3>GP do Brasil</h3>
						<img src="../img/circuit/brasil.png" alt="Infografía de una vuelta del circuito">
					</div>
					<div class="circuit-bio">
						<h3>Autódromo José Carlos Pace</h3>
						<ul class="circuit-table">
							<li class="icon-base">Ciudad:</li>
							<li class="icon-cirdate">Debut:</li>
							<li class="icon-lap">Vueltas:</li>
							<li class="icon-km">Longitud:</li>
							<li class="icon-kms">Total Km:</li>
							<li class="icon-fast">Fast lap:</li>
							<li class="icon-cuadros">Last Winner:</li>
						</ul>
						<ul class="circuit-datos">
							<li>Sao Paulo</li>	
							<li>1973</li>	
							<li>71</li>	
							<li>4.309</li>	
							<li>305.909</li>	
							<li>1:11.473</li>	
							<li>Lewis Hamilton</li>
						</ul>
					</div>
				</div>
				<div class="circuit-horarios">
					<h4>Horarios (hora local)</h4>
					<h3>Viernes 10 - Domingo 12 Noviembre 2017</h3>
					<table>
						<tr>
							<th>Libres 1</th>
							<th>Viernes 10:00 - 11:30</th>
						</tr>
						<tr>
							<th>Libres 2</th>
							<th>Viernes 14:00 - 15:30</th>
						</tr>
						<tr>
							<th>Libres 3</th>
							<th>Sábado 11:00 - 12:00</th>
						</tr>
						<tr>
							<th>Clasificación</th>
							<th>Sábado 14:00 - 15:00</th>
						</tr>
						<tr>
							<th>Carrera</th>
							<th>Domingo 14:00 - 16:00</th>
						</tr>
					</table>
				</div>
				<h4>Imágenes del circuito</h4>
				<div class="rslides_container">
					<ul class="rslides">
						<li class="slider-item"><img src="../img/circuit/brasil1.jpg" alt="Imagen del circuito para el carrusel"></li>
						<li class="slider-item"><img src="../img/circuit/brasil2.jpg" alt="Imagen del circuito para el carrusel"></li>
						<li class="slider-item"><img src="../img/circuit/brasil3.jpg" alt="Imagen del circuito para el carrusel"></li>
						<li class="slider-item"><img src="../img/circuit/brasil4.jpg" alt="Imagen del circuito para el carrusel"></li>
						<li class="slider-item"><img src="../img/circuit/brasil5.jpg" alt="Imagen del circuito para el carrusel"></li>
					</ul>
				</div>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="../public_html/hola.html">Hola</a></li>
				<li><a href="../public_html/contacto.html">Contacto</a></li>
				<li><a href="../public_html/aviso.html">Aviso Legal</a></li>
				<li><a href="../public_html/privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>