<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Sergio Pérez - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Sergio Pérez</h2>
				<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section class="group1">
			<article class="driver">
				<div class="driver-bio">
					<ul class="driver-table">
						<li class="icon-car">Dorsal:</li>
						<li class="icon-bday">Nacimiento:</li>
						<li class="icon-country">Pais:</li>
						<li class="icon-tshirt">Debut</li>
						<li class="icon-award">Títulos:</li>
						<li class="icon-podium">Podiums:</li>
						<li class="icon-point">Puntos:</li>
						<li class="icon-lap">GP total:</li>
					</ul>
					<ul class="driver-datos">
						<li>11</li>
						<li>1990-01-26</li>
						<li>México</li>
						<li>2011</li>
						<li>0</li>
						<li>7</li>
						<li>367</li>
						<li>116</li>
					</ul>
					<div class="driver-casco">
						<img src="../img/driver/checo3.png" alt="Imagen del casco">
					</div>
				</div>
				<div class="driver-photo">
					<img src="../img/driver/checo1.jpg" alt="Imagen oficial del piloto">
				</div>
				<div class="driver-img">
					<img src="../img/driver/checo2.jpg" alt="Imagen del piloto conduciendo el coche de 2017">
				</div>
				<div class="driver-text">
					<p>Sergio Pérez Mendoza (Guadalajara, Jalisco, México, 26 de enero de 1990) también conocido como Checo Pérez, es un piloto de automovilismo de velocidad mexicano. Está vinculado desde el 2014 al equipo Force India de Fórmula 1. También forma parte de Escudería Telmex.</p>
					<p>Entre sus logros más destacados en su carrera, han sido dos segundos lugares en el Gran Premio de Malasia e Italia en 2012; en la temporada 2010 de GP2 Series, Pérez logró su primera victoria en la categoría en el Principado de Mónaco a la que siguieron otros tres triunfos. El día 4 de octubre de 2010, se confirmó que Pérez ingresa a la Fórmula 1 en la escudería Sauber para la temporada 2011 y posteriormente en la temporada 2012, con el mismo equipo, conquistó 3 podios. En 2013 pilotea con el equipo McLaren y al cierre del mismo año, se anunció como piloto oficial de Sahara Force India F1 Team con quien acumula cuatro podios.</p>
					<p>Por sus logros a corta edad y a sus buenos resultados, en 2012 la alemana prensa lo denominó «The Mexican Wunderkind» (El niño prodigio mexicano).</p>
				</div>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="../public_html/hola.html">Hola</a></li>
				<li><a href="../public_html/contacto.html">Contacto</a></li>
				<li><a href="../public_html/aviso.html">Aviso Legal</a></li>
				<li><a href="../public_html/privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>