<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Daniel Ricciardo - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Daniel Ricciardo</h2>
				<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section class="group1">
			<article class="driver">
				<div class="driver-bio">
					<ul class="driver-table">
						<li class="icon-car">Dorsal:</li>
						<li class="icon-bday">Nacimiento:</li>
						<li class="icon-country">Pais:</li>
						<li class="icon-tshirt">Debut</li>
						<li class="icon-award">Títulos:</li>
						<li class="icon-podium">Podiums:</li>
						<li class="icon-point">Puntos:</li>
						<li class="icon-lap">GP total:</li>
					</ul>
					<ul class="driver-datos">
						<li>3</li>
						<li>1989-07-01</li>
						<li>Australia</li>
						<li>2011</li>
						<li>0</li>
						<li>18</li>
						<li>616</li>
						<li>109</li>
					</ul>
					<div class="driver-casco">
						<img src="../img/driver/daniel3.png" alt="Imagen del casco">
					</div>
				</div>
				<div class="driver-photo">
					<img src="../img/driver/daniel1.jpg" alt="Imagen oficial del piloto">
				</div>
				<div class="driver-img">
					<img src="../img/driver/daniel2.jpg" alt="Imagen del piloto conduciendo el coche de 2017">
				</div>
				<div class="driver-text">
					<p>
						Daniel Ricciardo (Perth, Australia, 1 de julio de 1989) es un piloto australiano de automovilismo de velocidad. Ganó la Fórmula 3 Británica en el año 2009. En las temporadas de 2012 y 2013, fue el primer piloto de la escudería Toro Rosso de Fórmula 1. Desde la 2014 es titular en el equipo Red Bull junto a Max Verstappen. Ha logrado cuatro victorias, una pole position y once podios en la Fórmula 1, y quedó tercero en las temporadas 2014 y 2016, solo por detrás de los Mercedes de Hamilton y Rosberg.
					</p>
				</div>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="../public_html/hola.html">Hola</a></li>
				<li><a href="../public_html/contacto.html">Contacto</a></li>
				<li><a href="../public_html/aviso.html">Aviso Legal</a></li>
				<li><a href="../public_html/privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>