<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Force India - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Force India</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section>
			<article class="team">
				<div class="team-first">
					<div class="team-logo">
						<img src="../img/team/force1.png" alt="Logo de la escudería">
					</div>
					<div class="team-bio">
						<ul class="team-table">
							<li class="icon-calendar">Nacimiento:</li>
							<li class="icon-base">Base:</li>
							<li class="icon-car">Monoplaza:</li>
							<li class="icon-award">Títulos:</li>
							<li class="icon-podium">Podiums:</li>
							<li class="icon-pole">Poles:</li>
							<li class="icon-fast">Vueltas rápidas:</li>
						</ul>
						<ul class="team-datos">
							<li>1991</li>	
							<li>Silverstone, UK</li>	
							<li>VJM10</li>	
							<li>0</li>	
							<li>5</li>	
							<li>1</li>	
							<li>4</li>
						</ul>
					</div>
				</div>
				<div class="team-car">
					<img src="../img/team/force2.jpg" alt="Coche del 2017">
				</div>
				<div class="team-driver">
					<h4>Pilotos</h4>
					<div class="team-uno">
						<img src="../img/driver/checo1.jpg" alt="Imagen oficial de Sergio Pérez">
						<div class="team-box">
							<h3>Sergio Pérez</h3>
							<p>Volverá a ejercer de jefe de filas en Force India. La temporada pasada Checo logró dos podios muy importantes para mantener el cuarto puesto en el Mundial de constructores. La escudería india intentará darle un monoplaza capaz de competir, en mayor o menor medida, con Mercedes, Ferrari o Red Bull.</p>	
						</div>
					</div>
					<div class="team-dos">
						<img src="../img/driver/ocon1.jpg" alt="Imagen oficial de Esteban Ocon">
						<div class="team-box">
							<h3>Esteban Ocon</h3>
							<p>Primer año para el piloto francés en Force India. Después de debutar a mitad de temporada en Manor, se prepara para su primer año completo en Fórmula 1. Los ojos de Mercedes estarán muy pendientes de su rendimiento para ver de qué es capaz con un coche competitivo.</p>	
						</div>
					</div>
					<div class="team-text">
						<h4>Un poco de información...</h4>
						<p>Sahara Force India Formula One Team, también conocida como Force India, es una escudería india de Fórmula 1 creada en octubre de 2007, surgida a raíz de la compra de Spyker F1 por parte del consorcio formado por el empresario de la India Vijay Mallya y por el holandés Michiel Mol, pagando 88 millones de euros para adquirir la mitad de las acciones del equipo. Participó en el Mundial de Fórmula 1 desde 2008. En octubre de 2011, la compañía India Sahara India Pariwar adquirió el 42,5% de las acciones de Force India F1 por 100 millones de $.</p>
						<p>Sahara Force India F1 Team representa el incremento de participación de India en la Fórmula 1 junto con el Circuito Internacional de Buddh, que albergó el primer Gran Premio de la India en 2011, los pilotos Karun Chandhok y Narain Karthikeyan, y el Sahara India Pariwar Group.</p>
					</div>
				</div>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="../public_html/hola.html">Hola</a></li>
				<li><a href="../public_html/contacto.html">Contacto</a></li>
				<li><a href="../public_html/aviso.html">Aviso Legal</a></li>
				<li><a href="../public_html/privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>