<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Mercedes - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Mercedes</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section>
			<article class="team">
				<div class="team-first">
					<div class="team-logo">
						<img src="../img/team/mercedes1.png" alt="Logo de la escudería">
					</div>
					<div class="team-bio">
						<ul class="team-table">
							<li class="icon-calendar">Nacimiento:</li>
							<li class="icon-base">Base:</li>
							<li class="icon-car">Monoplaza:</li>
							<li class="icon-award">Títulos:</li>
							<li class="icon-podium">Podiums:</li>
							<li class="icon-pole">Poles:</li>
							<li class="icon-fast">Vueltas rápidas:</li>
						</ul>
						<ul class="team-datos">
							<li>1970</li>
							<li>Brackley, UK</li>
							<li>F1 W08 EQ Power+</li>
							<li>3</li>
							<li>71</li>
							<li>65</li>
							<li>38</li>
						</ul>
					</div>
				</div>
				<div class="team-car">
					<img src="../img/team/mercedes2.jpg" alt="Coche del 2017">
				</div>
				<div class="team-driver">
					<h4>Pilotos</h4>
					<div class="team-uno">
						<img src="../img/driver/lewis1.jpg" alt="Imagen oficial de Lewis Hamilton">
						<div class="team-box">
							<h3>Lewis Hamilton</h3>
							<p>El inglés afronta una nueva temporada con ganas de recuperar el título. Después de verse derrotado por Nico Rosberg, Hamilton tendrá que derrotar a un nuevo compañero, Valtteri Bottas. Con varios récords a su alcance, 2017 puede ser un año muy importante en la carrera del británico.</p>	
						</div>
					</div>
					<div class="team-dos">
						<img src="../img/driver/bottas1.jpg" alt="Imagen oficial de Valtteri Bottas">
						<div class="team-box">
							<h3>Valtteri Bottas</h3>
							<p>El piloto finlandés está ante la mayor oportunidad de su carrera. Tras una buena etapa en Williams, sustituirá a Nico Rosberg con el reto de igualar la hazaña del alemán, superar a Lewis Hamilton y proclamarse campeón del mundo.</p>	
						</div>
					</div>
					<div class="team-text">
						<h4>Un poco de información...</h4>
						<p>Mercedes AMG Petronas Formula One Team1 (nombre comercial de Mercedes-Benz Grand Prix Limited), anteriormente conocida como Mercedes GP Petronas F1 Team es una escudería de Fórmula 1 dirigida por la empresa automovilística alemana Daimler AG, a través de su marca Mercedes-Benz. Se formó en los años 30 y participó en la Fórmula 1 en 1954 y 1955.</p>
						<p>El día 16 de noviembre de 2009, con el anuncio de la compra del equipo campeón de la temporada 2009 Brawn GP, anunció su vuelta a la Fórmula 1 por parte de Mercedes a partir de 2010. Con esta adquisición, McLaren (hasta ahora "pareja" de la marca de la estrella en la Fórmula 1) es simplemente un equipo que recibe los motores alemanes, igualmente Mercedes-Benz venderá el 40% de las acciones que posee sobre McLaren, que serán compradas por el equipo de Woking. Estaba previsto que, para 2011, Mercedes se desvincule totalmente de McLaren en lo que respecta a la propiedad del equipo pero esto no ocurrió hasta el 2014, siendo este el último año de McLaren con un motor Mercedes.</p>
						<p>El chasis y motor son construidos por Mercedes. Daimler AG es la empresa propietaria de la escudería.7 El equipo contó en sus filas con Nico Rosberg y al 7 veces campeón del mundo Michael Schumacher, lo que marcó el retorno a la categoría del múltiple campeón desde su retiro en 2006. Su director es Toto Wolff, reemplazando a Ross Brawn (2010-2013). A partir de 2013, el volante de Michael Schumacher pasó a las manos de Lewis Hamilton, quien en la temporada 2014 y 2015 se proclamó campeón del mundo.</p>
					</div>
				</div>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="../public_html/hola.html">Hola</a></li>
				<li><a href="../public_html/contacto.html">Contacto</a></li>
				<li><a href="../public_html/aviso.html">Aviso Legal</a></li>
				<li><a href="../public_html/privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>