<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Noticia 4 - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Siempre al día</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section>
			<article class="noticia">
				<h3>Raikkonen habría marcado un 1:18.134 con ultrablandos</h3>
				<h4>
					Nuestros compañeros de AS han simulado cómo hubiesen quedado los tiempos en caso de que todos los pilotos hubiesen utilizado el neumático más blando.
				</h4>
				<div class="noticia-img">
					<img src="../img/news/news4.jpg" alt="Imagen relacionada con la noticia">
				</div>
				<p class="date">12.03.2017</p>
				<p>Una vez finalizada la pretemporada en el Circuit Barcelona - Catalunya, todas las escuderías han regresado a sus fábricas para analizar en profundidad todos los datos recogidos y hacer una simulación de dónde podrían estar en Australia.</p>
				<p>Uno de los aspectos más difíciles de examinar para los equipos es interpretar el mejor registro logrado por cada piloto cuando realizan un simulacro de clasificación de Gran Premio, ya que intervienen tantos parámetros en juego que es muy complicado obtener una imagen clara de la parrilla.</p>
				<p>En AS hemos querido realizar ese estudio cogiendo como referencia el neumático ultrablando, la goma más utilizada por los equipos para esta operación, ya que es la que mayor rendimiento a una vuelta ofrece al monoplaza.</p>
				<p>Tomando como referencia que todos los coches rodarían con la misma cantidad de combustible y los datos ofrecidos por Pirelli, que aseguran que entre el neumático medio y blanco hay una diferencia de 1.5-1.6 segundos, entre el blando y superblando, 0.3.-0.5 segundos y entre superblando y ultrablando, 0.3.-0.5 segundos, Kimi Raikkonen seguiría ostentando el mejor tiempo de las ocho jornadas de test.</p>
				<p>Un registro que se vería rebajado en tres décimas en el peor de los casos y cinco décimas en el mejor hasta llegar al 1:18,134 como máximo, ya que el piloto finés de Ferrari marcó su tiempo con neumáticos superblandos.</p>
				<p>En segundo lugar de esta ficticia clasificación estaría Valtteri Bottas. El piloto finlandés de Mercedes logró su mejor tiempo (1:19,310) en el sexto día con neumáticos superblandos. Aplicando el barómetro de Pirelli, Bottas podría haber conseguido un 1:18,810 en el mejor de los casos.</p>
				<p>Cerrando el podio de pilotos más rápidos de la pretemporada se situaría Max Verstappen con su Red Bull. El piloto holandés hubiese marcado un 1:18:938, mientras que Sebastian Vettel descendería de la segunda posición a la cuarta en esta tabla de tiempos.</p>
				<p>La gran sorpresa sería Lance Stroll, que ascendería desde la decimotercera a la quinta posición. El piloto canadiense debutante esta temporada con Williams, vería mejorado su registro de 1:20,335 del octavo día con gomas blandas hasta un segundo.</p>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="hola.html">Hola</a></li>
				<li><a href="contacto.html">Contacto</a></li>
				<li><a href="aviso.html">Aviso Legal</a></li>
				<li><a href="privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>