<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Noticia 7 - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Siempre al día</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section>
			<article class="noticia">
				<h3>Alonso con su McLaren Honda, el piloto que menos rueda</h3>
				<h4>
					Valtteri Bottas fue quien más vueltas completó al Circut Barcelona Catalunya con un total de 628. Fernando, 190.
				</h4>
				<div class="noticia-img">
					<img src="../img/news/news7.jpg" alt="Imagen relacionada con la noticia">
				</div>
				<p class="date">13.03.2017</p>
				<p>Cuando quedan 15 días para que el semáforo de Melbourne se apague por completo y dé comienzo la temporada de Fórmula 1 2017, es momento de analizar qué piloto llega más preparado a la cita de Australia.</p>
				<p>En este sentido, Valtteri Bottas es el piloto que más tiempo ha estado rodando a los mandos de un monoplaza en el Circuit Barcelona Catalunya. 628 vueltas ha completado el piloto finés de Mercedes con el W08, para un total de 2.923,34 kilómetros y un crono de 1:19.310.</p>
				<p>En segunda posición se encuentra Sebastian Vettel. El piloto de Ferrari se ha mostrado durante toda la pretemporada muy rápido y el coche de Maranello ha sido un habitual de las primeras pociones. El alemán, que ha dado 591 giros a Montmeló, ha contribuido al desarrollo del SF70H con 2.751,11 kilómetros.</p>
				<p>Cerrando este podio ficticio se sitúa el actual subcampeón del mundo. Sin tanta necesidad de conocer las características del coche como su compañero Bottas, Lewis Hamilton ha terminado con 468 vueltas al trazado catalán, logrando un mejor tiempo tres décimas peor que su compañero (1:19.652).</p>
				<p>Si buscamos a los pilotos españoles, los problemas de fiabilidad han lastrado el tiempo en pista de Carlos Sainz y Fernando Alonso. Alarmante es la situación del piloto de McLaren Honda, ya que Alonso es el piloto que llegará con menos preparación de los que competirán en Melbourne.</p>
				<p>190 giros solamente ha podido hacer el piloto asturiano con el McL32. Un registro que no permite a Alonso alcanzar los 1.000 kilómetros (884.45). Una situación que mejora ligeramente si miramos a Stoffel Vandoorne, que con 235 vueltas al Circuit Barcelona Catalunya supera esta cifra por 93 kilometros (1.093,93)</p>
				<p>En cuanto a Sainz, el madrileño ha superado las 300 vueltas a Montmeló con el Toro Rosso. 1.433,74 kilómetros ha dado el STR12 con Carlos Sainz a bordo para un mejor tiempo de 1:19.837, superando en casi cinco décimas, 31 giros y 144.3 kilómetros las estadísticas cosechadas por Daniil Kyvat.</p>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="hola.html">Hola</a></li>
				<li><a href="contacto.html">Contacto</a></li>
				<li><a href="aviso.html">Aviso Legal</a></li>
				<li><a href="privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>