<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Noticia 1 - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Siempre al día</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section>
			<article class="noticia">
				<h3>Alonso y el último día de test: “Ha sido decepcionante”</h3>
				<h4>
					El asturiano reconoce que deben trabajar duro para llegar a tiempo a Melbourne: “Tengo esperanza de que estemos listos para Australia”.
				</h4>
				<div class="noticia-img">
					<img src="../img/news/news1.jpg" alt="Imagen relacionada con la noticia">
				</div>
				<p class="date">10.03.2017</p>
				<p>En las tinieblas, a veces, se encuentran momentos brillantes, de esos que no se olvidan jamás. Y Fernando Alonso siempre guardará en el recuerdo que, en uno de sus peores momentos como piloto de Fórmula 1, tuvo que salir a saludar a la multitud que le aclamaba en la tribuna principal de Barcelona en el último día de test de 2017.</p>
				<p>Antes de eso los aficionados abuchearon el regreso del coche al box después de la segunda bandera roja que protagonizó el asturiano con su McLaren. Después de todo Fernando reconocía que es complicado ver el lado bueno de las cosas: “Ha sido una forma decepcionante de terminar los test, ya que no pudimos aprovechar al máximo el último día de carrera. La mañana comenzó de manera positiva y estábamos trabajando bien a través de nuestro programa, hasta que el coche perdió potencia en una curva y se apagó así que tuve que parar”.</p>
				<p>Y siguió con su relato de la jornada: "Logramos volver a pista de nuevo sin ningún problema, y todo funcionó sin problemas durante unas pocas vueltas hasta que sucedió de nuevo, así que nos dimos cuenta de que necesitábamos investigar más a fondo durante la hora del almuerzo y hacer más cambios”. “Estoy contento de que pudiéramos volver por la tarde, queríamos estar todo el tiempo posible ya que cada vuelta es útil para nuestro aprendizaje”.</p>
				<p>Aún así el español se centra en lo importante, trabajar para llegar a la primera carrera del año en condiciones de terminarla y ser competitivo, algo que en estos momentos parece un milagro: "Está claro que tenemos mucha preparación por delante para estar listos a tiempo para Melbourne. Sé que el equipo está trabajando duro y podremos encontrar más respuestas una vez que consigamos el coche de vuelta a la fábrica. Tengo la esperanza de que podremos dar el siguiente paso para estar listos en Melbourne”. Veremos.</p>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="hola.html">Hola</a></li>
				<li><a href="contacto.html">Contacto</a></li>
				<li><a href="aviso.html">Aviso Legal</a></li>
				<li><a href="privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>