<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Noticia 6 - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Siempre al día</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section>
			<article class="noticia">
				<h3>Análisis: Mercedes sigue delante y McLaren aún más atrás</h3>
				<h4>
					A pesar de que Ferrari es el equipo que más mejora en tiempos con respecto a 2016, los alemanes han hecho todo lo necesario para llegar a Australia primeros.
				</h4>
				<div class="noticia-img">
					<img src="../img/news/news6.jpg" alt="Imagen relacionada con la noticia">
				</div>
				<p class="date">12.03.2017</p>
				<p>Del que más mejora al que menos con respecto a 2016, analizamos el estado de los equipos tras los test de Barcelona.</p>
				<p><strong>Ferrari.</strong> El equipo que más mejora respecto a los mismos test de 2016 (4,1 segundos), acaba con el segundo mejor tiempo y muy buenas sensaciones. Parece solo un paso por detrás de Mercedes. ¿Será de verdad este año el de los italianos?</p>
				<p><strong>Red Bull.</strong> Sorprende por su diseño, tiene un gran chasis y una aereodinámica excepcional.. pero el motor Renault aún no está al nivel. No suelen mostrar su verdadero potencial en los test.</p>
				<p><strong>Renault.</strong> El equipo oficial francés viene de muy atrás y es el tercero que más mejora. Ocupan el puesto de McLaren a final del año pasado y lucharán con Toro Rosso o Force India al principio.</p>
				<p><strong>Williams.</strong> El motor Mercedes es un regalo para este equipo, mejoran mucho y son los terceros más rápidos. Solo la bisoñez de Stroll les ha impedido rodar más. Massa vive en otra juventud.</p>
				<p><strong>Mercedes.</strong> Ya en los primeros test hicieron simulación de carrera. No son tan dominadores, pero siguen un paso por delante del resto pese a las palabras de Hamilton o Lauda. Segundo mejor tiempo, pero han rodado más que nadie, 5.000 kilómetros.</p>
				<p><strong>Haas.</strong> Con un coche muy parecido al Ferrari cada vez son más banco de pruebas de los italianos. Tiempos discretos, más de tres mil kilómetros completados... su objetivo es afianzarse en la zona media.</p>
				<p><strong>Toro Rosso.</strong> Este año tiene dos pilotos, sobre todo Sainz, en plenitud desde el inicio, pero no tanto el motor Renault, aún falto de fiabilidad. Su problema es la falta de evolución durante el año, cuando tengan un motor más potente otros equipos les superarán en otras mejoras. Quinto tiempo más rápido de los test, pero el segundo peor equipo en cuanto a kilómetros. La aerodinámica de James Key debe ser vital al principio de la temporada.</p>
				<p><strong>Sauber.</strong> Según los datos de la pretemporada son el equipo más lento y con menos recursos de la categoría, aunque mejoran más que otros y su balance en vueltas al Circuit es bueno. Estarán atrás si nada cambia.</p>
				<p><strong>Force india.</strong> No lo van a tener fácil Checo y Ocon, pero llevar el motor Mercedes facilita las cosas a los indios. Séptimo mejor tiempo y quinto que más kilómetros ha recorrido.</p>
				<p><strong>McLaren.</strong> Desastre en los test, el equipo que menos mejora, el que menos ha rodado y solo por delante de Sauber en tiempos, aunque a 2,7 segundos del Ferrari. Solo un milagro puede hacer que acaben las carrera de Australia.</p>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="hola.html">Hola</a></li>
				<li><a href="contacto.html">Contacto</a></li>
				<li><a href="aviso.html">Aviso Legal</a></li>
				<li><a href="privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>