<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Noticia 8 - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Siempre al día</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section>
			<article class="noticia">
				<h3>Alonso: "Ahora no hay que pilotar como niños pequeños"</h3>
				<h4>
					El bicampeón español de McLaren Honda cree que los cambios en los Pirelli son acertados: "Es la mejor manera de sentir un F1".
				</h4>
				<div class="noticia-img">
					<img src="../img/news/news8.jpg" alt="Imagen relacionada con la noticia">
				</div>
				<p class="date">13.03.2017</p>
				<p>Las modificaciones en el reglamento del Mundial de F-1 han dado buenos resultados en los test de pretemporada. La rebaja es los tiempos es abrumadora y los pilotos están satisfechos con el esfuerzo de Pirelli, el suministrador único. Uno de los más gráficos es Fernando Alonso. El asturiano de McLaren Honda está contento, pese a que su monoplaza no va como les gustaría: "Ha sido una agradable sorpresa ver cómo podemos atacar las curvas, cómo se siente el agarre. Ahora puedes conducir como quieras y no como niños pequeños para no sobrecalentar los neumáticos. Esta es la mejor forma de sentir un coche de F-1". Y apostilla para el que quiera entender: "Ha sido divertido poder conducir libre de nuevo. Ahora solo nos queda a nosotros ser más rápidos que otros rivales en las rectas".</p>
				<p>De la misma opinión que el bicampeón asturiano es el Nico Hulknrberg, el alemán de Renault. "Se puede llegar al límite natural con estos compuestos. Estoy muy a favor de ellos, creo que es una gran noticia, para el deporte y para mí también ya que se acerca mucho más a mi estilo de conducción, que es más natural", finalizó el expiloto de Force India.</p>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="hola.html">Hola</a></li>
				<li><a href="contacto.html">Contacto</a></li>
				<li><a href="aviso.html">Aviso Legal</a></li>
				<li><a href="privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>