<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Noticia 2 - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Siempre al día</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section>
			<article class="noticia">
				<h3>Red Bull espera alcanzar a Ferrari y Mercedes en el verano</h3>
				<h4>
					Didi Mateschitz y Helmut Marko han analizado el rendimiento del RB13 en la pretemporada disputada en el Circuit Barcelona - Catalunya.
				</h4>
				<div class="noticia-img">
					<img src="../img/news/news2.jpg" alt="Imagen relacionada con la noticia">
				</div>
				<p class="date">11.03.2017</p>
				<p>Los problemas de fiabilidad han estado presentes durante toda la pretemporada. Un aspecto que Helmut Marko espera que Renault solucione con la actualización prevista para el Gran Premio de España: "Un sensor de la MGU-K se rompió en varias ocasiones en la primera semana de test. Nos dijeron desde Renault que en la segunda semana se solucionaría el problema, pero volvió a suceder. Al parecer, es una serie defectuosa del proveedor. Esperamos alcanzar a Mercedes y Ferrari en el verano con la actualización del motor para el Gran Premio de España".</p>
				<p>Marko ha admitido que Daniel Ricciardo y Max Verstappen se han encontrado cómodos en el monoplaza, así como la principal preocupación es que no consiguen hacer funcionar bien los neumáticos: "A veces conseguimos que los neumáticos funcionen en la ventana de temperatura adecuada, por lo que obtenemos un rendimiento óptimo".</p>
				<p>El asesor de la escudería de Red Bull ha afirmado que la suspensión del RB13 está dentro del reglamento de cara a una posible reclamación en Australia por parte de algún equipo: "Es un asunto muy complejo. Uno debe mirar a los componentes individuales. Pero por supuesto, estamos dentro del reglamento. Ahora tenemos que demostrar que todo es compatible. Siempre van a existir zonas grises en un reglamento. La FIA tiene un puñado de técnicos que se enfrentan a un ejército de especialistas en cada equipo".</p>
				<p>Por último, Marko y Mateschitz expresaron la misma perspectiva acerca de cómo se puede desarrollar la temporada de Fórmula 1 2017: "Ferrari convence por su estabilidad y por un progreso significativo con respecto al año anterior. Son un serio oponente a la parte superior de la parrilla. Mercedes parece tener problemas con el fondo plano. Su gran superioridad se ha ido. Mientras Bottas debe mostrar que puede conducir al mismo nivel que Hamilton, la Scuderia Ferrari solamente tiene Vettel para los mejores puestos. Por lo tanto, nosotros estamos en las mejores condiciones con Verstappen y Ricciardo para lograr el Mundial de equipos".</p>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="hola.html">Hola</a></li>
				<li><a href="contacto.html">Contacto</a></li>
				<li><a href="aviso.html">Aviso Legal</a></li>
				<li><a href="privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>