<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Renault - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Renault</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section>
			<article class="team">
				<div class="team-first">
					<div class="team-logo">
						<img src="../img/team/renault1.png" alt="Logo de la escudería">
					</div>
					<div class="team-bio">
						<ul class="team-table">
							<li class="icon-calendar">Nacimiento:</li>
							<li class="icon-base">Base:</li>
							<li class="icon-car">Monoplaza:</li>
							<li class="icon-award">Títulos:</li>
							<li class="icon-podium">Podiums:</li>
							<li class="icon-pole">Poles:</li>
							<li class="icon-fast">Vueltas rápidas:</li>
						</ul>
						<ul class="team-datos">
							<li>1986</li>	
							<li>Enstone, UK</li>	
							<li>R.S.17</li>	
							<li>2</li>	
							<li>52</li>	
							<li>20</li>	
							<li>13</li>	
						</ul>
					</div>
				</div>
				<div class="team-car">
					<img src="../img/team/renault2.jpg" alt="Coche del 2017">
				</div>
				<div class="team-driver">
					<h4>Pilotos</h4>
					<div class="team-uno">
						<img src="../img/driver/hulk1.jpg" alt="Imagen oficial de Nico Hulkenberg">
						<div class="team-box">
							<h3>Nico Hulkenberg</h3>
							<p>Llega como fichaje de estrella de la escudería. El piloto alemán tiene ganas de reivindicarse después de que su etapa en Force India no fuera tan exitosa cómo se esperaba. Será la cabeza visible de un proyecto que quiere ser ganador a largo plazo.</p>	
						</div>
					</div>
					<div class="team-dos">
						<img src="../img/driver/palmer1.jpg" alt="Imagen oficial de Jolyon Palmer">
						<div class="team-box">
							<h3>Jolyon Palmer</h3>
							<p>Después de un año en Renault llega a Renault para tratar de demostrar el talento que apuntó en su única campaña con McLaren, en la que logró su único podio. Todavía joven, se esperan grandes cosas del danés en la F1.</p>	
						</div>
					</div>
					<div class="team-text">
						<h4>Un poco de información...</h4>
						<p>Renault Sport F1 Team es una escudería francesa de Fórmula 1, creada en 1977 y que retornó a la categoría para disputar la temporada 2016. Renault no participó como equipo entre 1986-2001 y 2012-2015, limitándose a suministrar motores a otros constructores. Anteriormente compitió en la Fórmula 1 como Equipe Renault Elf y con licencia francesa desde finales de los años 1970 hasta 1985, y regresó con el tradicional nombre de Renault F1 Team a partir de 2002, tras adquirir a Benetton, que a su vez compró el equipo Toleman en 1986. A su vez, en 2011 participó con licencia británica y bajo el nombre comercial de Lotus Renault GP.</p>
						<p>Renault vendió el 75% del equipo a Genii Capital a finales de 2010; renombrando la escudería como Lotus Renault GP y anunciando la creación de Renault Sport F1 para el suministro de motores y tecnología a partir de 2011, el cual sigue controlando el 25% de la escudería. Luego de competir en 2011 como Renault, Genii Capital solicitó el cambio de nombre del equipo en la lista de inscriptos de 2012, luego de que Proton (actual propietaria de la marca Lotus Cars) tomara en 2012 el control del equipo, renombrándolo a Lotus F1 Team y dejando a Renault como proveedor de motores.</p>
						<p>Renault consiguió dos títulos de campeón de pilotos (con Fernando Alonso) y dos títulos como campeón de constructores, ambos en 2005 y 2006.</p>
					</div>
				</div>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="../public_html/hola.html">Hola</a></li>
				<li><a href="../public_html/contacto.html">Contacto</a></li>
				<li><a href="../public_html/aviso.html">Aviso Legal</a></li>
				<li><a href="../public_html/privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>