<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Sauber - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Sauber</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section>
			<article class="team">
				<div class="team-first">
					<div class="team-logo">
						<img src="../img/team/sauber1.png" alt="Logo de la escudería">
					</div>
					<div class="team-bio">
						<ul class="team-table">
							<li class="icon-calendar">Nacimiento:</li>
							<li class="icon-base">Base:</li>
							<li class="icon-car">Monoplaza:</li>
							<li class="icon-award">Títulos:</li>
							<li class="icon-podium">Podiums:</li>
							<li class="icon-pole">Poles:</li>
							<li class="icon-fast">Vueltas rápidas:</li>
						</ul>
						<ul class="team-datos">
							<li>1993</li>	
							<li>Hinwill, Switzerland</li>	
							<li>C36</li>	
							<li>0</li>	
							<li>26</li>	
							<li>1</li>	
							<li>5</li>
						</ul>
					</div>
				</div>
				<div class="team-car">
					<img src="../img/team/sauber2.jpg" alt="Coche del 2017">
				</div>
				<div class="team-driver">
					<h4>Pilotos</h4>
					<div class="team-uno">
						<img src="../img/driver/pascal1.jpg" alt="Imagen oficial de Pascal Wehrlein">
						<div class="team-box">
							<h3>Pascal Wehrlein</h3>
							<p>Después de un invierno convulso en el que llegó a sonar como candidato al volante de Mercedes, el alemán seguirá fogueándose en la en el equipo Sauber. Tratará de demostrar a Mercedes que estaba preparado para ocupar el puesto que fue para Bottas.</p>	
						</div>
					</div>
					<div class="team-dos">
						<img src="../img/driver/pas.jpg" alt="Imagen oficial de Marcus Ericsson">
						<div class="team-box">
							<h3>Marcus Ericsson</h3>
							<p>El sueco disputará su tercera temporada con Sauber tratando de mejorar sus resultados de la pasada campaña, en la que ni siquiera fue capaz de puntuar. Si quiere mostrar que es capaz de ser competitivo en la Fórmula 1, este tiene que ser su año.</p>
						</div>
					</div>
					<div class="team-text">
						<h4>Un poco de información...</h4>
						<p>Sauber F1 Team (anteriormente denominada Sauber Petronas y Sauber Motorsport) es una escudería de Fórmula 1 con base en Hinwil, Suiza. Su nombre se debe al dueño y ex director de la escudería, Peter Sauber. La primera temporada en la que el equipo compitió en la categoría fue la de 1993, y en 2005 fue vendido a BMW, que se lo devolvió a Peter Sauber al acabar la temporada 2009, quien finalmente lo vendió a Longbow Finace, S.A., a la mitad de la temporada del 2016 después de muchas especulaciones sobre la situación financiera del equipo.</p>
						<p>Antes de su ingreso a la Fórmula 1, Sauber participó en otras categorías, como por ejemplo en los campeonatos suizo e internacional y en el Campeonato Mundial de Resistencia, donde consiguió una gran victoria en las 24 horas de Le Mans de 1989 y el título mundial en esa temporada (1989) y en la siguiente (1990).</p>
					</div>
				</div>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="../public_html/hola.html">Hola</a></li>
				<li><a href="../public_html/contacto.html">Contacto</a></li>
				<li><a href="../public_html/aviso.html">Aviso Legal</a></li>
				<li><a href="../public_html/privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>