<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Williams - Daniel Gómez F1 Team</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../lib/slider/responsiveslides.css">
	<link rel="stylesheet" href="../lib/slider/demo/themes/themes.css">
	<link rel="stylesheet" href="../lib/fontello/css/fontello.css">
	<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="header-home">
			<a href="../index.html">
				<img src="../img/logo.png" alt="Logo tipo de Daniel Gómez F1 Team">
				<h1>Daniel Gómez F1 Team</h1>
			</a>
		</div>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu" class="icon-menu"></label>
		<nav class="header-menu">
			<span></span>
			<ul>
				<li class="submenu">
					<a href="#">Noticias<span class="icon-down expand"></span></a>
					<ul class="push">
						<li><a href="../public_html/news.html" class="border-top">Archivo de noticias</a></li>
						<li><a href="../blog/" class="border-bottom">Blog</a></li>
					</ul>
				</li>
				<li><a href="../public_html/drivers.html">Pilotos</a></li>
				<li><a href="../public_html/teams.html">Escuderías</a></li>
				<li><a href="../public_html/circuits.html">Circuitos</a></li>
				<li><a href="#" class="private">Área privada</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<main>
		<h2>Williams</h2>
		<div class="back">
			<a href="" class="icon-back"></a>
		</div>
		<section>
			<article class="team">
				<div class="team-first">
					<div class="team-logo">
						<img src="../img/team/williams1.png" alt="Logo de la escudería">
					</div>
					<div class="team-bio">
						<ul class="team-table">
							<li class="icon-calendar">Nacimiento:</li>
							<li class="icon-base">Base:</li>
							<li class="icon-car">Monoplaza:</li>
							<li class="icon-award">Títulos:</li>
							<li class="icon-podium">Podiums:</li>
							<li class="icon-pole">Poles:</li>
							<li class="icon-fast">Vueltas rápidas:</li>
						</ul>
						<ul class="team-datos">
							<li>1978</li>	
							<li>Grove, UK</li>	
							<li>FW40</li>	
							<li>9</li>	
							<li>241</li>	
							<li>128</li>	
							<li>133</li>
						</ul>
					</div>
				</div>
				<div class="team-car">
					<img src="../img/team/williams2.jpg" alt="Coche del 2017">
				</div>
				<div class="team-driver">
					<h4>Pilotos</h4>
					<div class="team-uno">
						<img src="../img/driver/massa1.jpg" alt="Imagen oficial de Felipe Massa">
						<div class="team-box">
							<h3>Felipe Massa</h3>
							<p>Después de su intento de retirada, vuelve para llenar el hueco que deja Valtteri Bottas tras su marcha a Mercedes. El brasileño ejercerá de mentor para su jovencísimo compañero, Lance Stroll. Buscará pelear por algún podio en los circuitos favorables para Williams.</p>	
						</div>
					</div>
					<div class="team-dos">
						<img src="../img/driver/stroll1.jpg" alt="Imagen oficial de Lance Stroll">
						<div class="team-box">
							<h3>Lance Stroll</h3>
							<p>El canadiense es el más joven de la parrilla. Llega desde la F3 con ganas de demostrar que está en Williams por su talento y no por el dinero que trae detrás. Tendrá en Massa un gran espejo en el que mirarse.</p>	
						</div>
					</div>
					<div class="team-text">
						<h4>Un poco de información...</h4>
						<p>Williams Martini Racing,1 anteriormente conocida como Williams F1 Team y tradicionalmente como Williams Grand Prix Engineering, es un equipo de Fórmula 1 creado en 1977 por Frank Williams y Patrick Head, al asociarse con Walter Wolf Racing. Todos los autos de Williams son llamados "FW-número", por las iniciales del fundador del equipo, Frank Williams.</p>
						<p>Williams es considerado uno de los cuatro grandes equipos de la Fórmula 1, junto con Ferrari, McLaren y Mercedes Benz. La primera carrera de la escudería fue en el Gran Premio de España de 1977, cuando el equipo corrió con un chasis March y Patrick Nève como piloto. Williams comenzó a construir sus propios autos el año siguiente. El suizo Clay Regazzoni ganó la primera carrera para el equipo en el Gran Premio de Gran Bretaña de 1979, mientras que en el Gran Premio de Gran Bretaña de 1997, el canadiense Jacques Villeneuve ganó la carrera número 100 para el equipo. De esta manera, Williams se convirtió en uno de los únicos tres equipos en Fórmula 1, junto con Ferrari y el también inglés McLaren, en ganar 100 carreras.</p>
						<p>Siete pilotos han sido campeones del mundo con Williams: Alan Jones, Keke Rosberg, Nelson Piquet, Nigel Mansell, Alain Prost, Damon Hill y Jacques Villeneuve. A su vez, el equipo ganó 9 títulos de contructores entre 1980 y 1997. Este fue un récord hasta que Ferrari lo superó en el año 2000.</p>
						<p>Williams ha trabajado con muchos constructores de motores, pero más satisfactoriamente con Renault: Williams ganó 5 de sus 9 campeonatos de constructores con la casa francesa. Junto con Ferrari, McLaren y Renault (anteriormente Benetton), Williams es una de las cuatro estructuras que han ganado en todos los campeonatos de constructores desde 1979 a 2008 y en todos los campeonatos de pilotos desde 1984 a 2008.</p>
					</div>
				</div>
			</article>
		</section>
	</main>
	<footer id="footer">
		<nav class="footer-social">
			<ul>
				<li><a href="" class="icon-facebook"></a></li>
				<li><a href="" class="icon-twitter"></a></li>
				<li><a href="" class="icon-instagram"></a></li>
			</ul>
		</nav>
		<nav class="footer-corporate">
			<ul>
				<li><a href="../public_html/hola.html">Hola</a></li>
				<li><a href="../public_html/contacto.html">Contacto</a></li>
				<li><a href="../public_html/aviso.html">Aviso Legal</a></li>
				<li><a href="../public_html/privacidad.html">Política de privacidad</a></li>
			</ul>
		</nav>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../lib/equalize.min.js"></script>
	<script src="../lib/slider/responsiveslides.min.js"></script>
	<script src="../lib/scrollup/dist/jquery.scrollUp.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>
</html>